<ion-header class="color-black"> 
  <ion-toolbar class="color-title">
    <ion-title>
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="publication-cards">
    <ion-card class="principal-card">
      <ion-img src="assets/image/wall.jpg"></ion-img>
      <div class="card-title">Bienvenido</div>
    </ion-card>

    <ion-card class="publication-card" *ngFor="let publication of publications">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{publication.title}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-img src="assets/image/notData.png"></ion-img>
      <ion-card-content>{{publication.description}}</ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-text color="black">
            <h6>{{publication.date_publication}}</h6>
          </ion-text>
        </ion-col>
        <ion-col size="6">
            <ion-text color="black">
                <h6>{{publication.location_publication}}</h6>
            </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="loadPublications()" class="color-title" color="warning">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>