<ion-header>
  <ion-toolbar>
    <ion-title>
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/image/wall.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="publication-cards">
      <ion-img src="assets/image/notData.png"></ion-img>
      <ion-header>
        <ion-toolbar>
          <ion-title>Titulo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-text color="black">
            <h6>Fecha</h6>
          </ion-text>
        </ion-col>
        <ion-col size="6">
            <ion-text color="black">
                <h6>Ubicación</h6>
            </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
