.principal-card {

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    // color: #e4a900;
    color: white;
  }
}

.color-black  {
  background: black;
}

.color-title {
  color: #e4a900;
}